########## IGNORE NO-EXTENSION FILES (BINARIES) ##########
*
!*.*
!*/

########## CMAKE ##########

/build/
/out/

########## CLANG ##########

/.cache/

########## IMGUI ##########

imgui.ini

########## DOXYGEN ##########

!Doxyfile

########## VCPKG ##########

/vcpkg_installed/
/vcpkg/

########## C++ GENERAL ##########

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

########## GIT ##########

!README
!LICENSE



1