########## IGNORE NO-EXTENSION FILES (BINARIES) ##########
*
!*.*
!*/


########## PROJECT-SPECIFIC ##########

/imgui.ini
/build/
/out/
/.cache/

########## C++ GENERAL ##########

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

########## GIT ##########

!README
!LICENSE